.containerPrincipal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #827717;
    padding: 40px;
    background-color: #f9fbe7;
}
.containerSecundario{
    text-align: center;
}